.contacto {
    position: relative;
    margin: 0 auto;
    width: 75vw;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Robot', sans-serif;
    /* background: url();
    background-size: cover; */
}

.contacto .contacto-contenido {
    width: 75vw;
}

.contacto .contacto-contenido h2 {
    font-size: 36px;
    font-weight: 500;
    color: #234187;
    text-transform: uppercase;
}

.contacto .contacto-contenido p {
    font-weight: 300;
    color: #000;
}

.contacto-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.contacto-container .contactoInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacto-container .contactoInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contacto-container .contactoInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    color: #234187;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.contacto-container .contactoInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #000;
    flex-direction: column;
    font-weight: 300;
}

.contacto-container .contactoInfo .box .text h3 {
    font-weight: 500;
    color: #234187;
}

.contacto-form {
    width: 100%;
    padding: 40px;
    background: #fff;
}

.contacto-form h2 {
    font-size: 30px;
    color: #234187;
    font-weight: 500;
}

.contacto-form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contacto-form .inputBox input,
.contacto-form .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #234187;
    outline: none;
    resize: none;
}

.contacto-form .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: #666;
}

.contacto-form .inputBox input:focus~span,
.contacto-form .inputBox input:valid~span,
.contacto-form .inputBox textarea:focus~span,
.contacto-form .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contacto-form .inputBox input[type="submit"] {
    width: 100px;
    background: #234187;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media screen and (max-width: 950px) {
    .contacto {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .contacto-container {
        flex-direction: column;
    }
    .contacto-form {
        width: 100%;
    }
}

@media screen and (max-width: 420px) {
    .contacto-container .contactoInfo .box .text {
        font-size: 11.5px;
        font-weight: 700;
    }
}