.footer {
    display: flex;
    flex-flow: row wrap;
    background-color: #234187;
}

.footer>* {
    flex: 1 100%;
}


/* .footer__container .footer__rs .circle {
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
} */