.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}


/* PRE-HEADER */

.pre-header {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    padding: 10px 0;
    height: 4rem;
    color: #234187;
    background: #F5F6F8;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    border-top: 5px solid #234187;
    border-bottom: 1px solid #dfe5e8;
}

.p-h-contenedor {
    max-width: 75vw;
    margin: 0 auto;
    min-width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pre-header a {
    color: #234187;
}

.pre-header ul {
    display: flex;
    flex-direction: row;
}

.pre-header ul li {
    padding-right: 10px;
    font-size: .82rem;
}

.pre-header ul li i {
    font-size: 1.05rem;
    padding-right: 2.5px;
}


/* HEADER, LOGO Y NAVBAR */

.barra {
    width: 100%;
    position: fixed;
    top: 4rem;
    height: 6rem;
    transition: all .3s ease;
    background: #fff;
    margin: 0 auto;
}

.contenedor {
    max-width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1100px;
    height: 100%;
    transition: all .3s ease;
}

.barra.sticky {
    top: 0rem;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}


/* logo */

.barra .burguer {
    display: none;
}

.logo-img {
    width: 18rem;
    height: 100%;
    padding: 10px 0;
}


/* logo y navegacion */

.navegacion {
    display: flex;
}

.navegacion ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: #234187;
    font-size: 1.05rem;
    font-weight: 500;
}

.navegacion ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.navegacion ul>li>a {
    margin: 10px 5px;
    border-radius: 25px;
    padding: 15px 25px;
    color: #234187;
    transition: .3s all ease;
}

.navegacion ul>li>.nav-item:hover {
    background: #234187;
    color: #fff;
}

.navegacion ul>li>.nav-item.here {
    background: #234187;
    color: #fff;
}

.navegacion ul li .login {
    background: #234187;
    color: #fff;
}

.navegacion ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12rem;
    font-size: .8rem;
}

.navegacion ul li:hover ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    box-sizing: border-box;
}

.navegacion ul li ul li a {
    transition: .5s all ease;
}

.navegacion ul li ul li a:hover {
    background: #234187;
    color: #fff;
}

.navegacion ul li.nav-r {
    display: none;
}

.nav-resp {
    display: none;
    font-family: 'Roboto', sans-serif;
}


/* Media Query para el logo y el navbar */

@media screen and (max-width: 1115px) {
    .pre-header ul li {
        font-size: .7087rem;
    }
    .pre-header ul li i {
        font-size: .902rem;
    }
    .p-h-contenedor {
        min-width: 835px;
    }
    .barra .contenedor {
        min-width: 835px;
    }
    .barra.sticky {
        top: 0;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
    .navegacion ul {
        font-size: .9;
    }
    .navegacion ul>li>a {
        font-size: .85rem;
        margin: 10px 5px;
        border-radius: 25px;
        padding: 15px 12px;
    }
    .logo-img {
        width: 15rem;
        height: 90%;
        padding: 10px 0;
    }
}

@media screen and (max-width: 860px) {
    .barra {
        top: 0;
    }
    .pre-header {
        display: none;
    }
    .logo {
        width: 90vw;
    }
    .logo-img {
        width: 18rem;
        height: 100%;
    }
    .barra .burguer {
        cursor: pointer;
        display: block;
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        padding-top: .4rem;
        border-radius: 10px;
        font-size: 2rem;
        background: #234187;
        color: #fff;
        width: 45px;
        height: 45px;
        text-align: center;
        transition: right 0.4s ease;
        margin-right: 6px;
    }
    .barra .burguer.click {
        right: 250px;
    }
    .barra .burguer.click i::before {
        content: '<i class="fas fa-times"></i>';
    }
    .navegacion {
        display: none;
    }
    .nav-resp {
        display: flex;
        position: fixed;
        right: -250px;
        width: 250px;
        height: 100%;
        background: #234187;
        transition: right .4s ease;
    }
    .nav-resp.show {
        right: 0;
    }
    .nav-resp ul {
        height: 100%;
        width: 100%;
    }
    .nav-resp ul li,
    .nav-resp ul li a {
        color: #fff;
        font-size: 21px;
    }
    .nav-resp ul li {
        line-height: 58px;
        border-bottom: 1px solid white;
    }
    .nav-resp ul li a {
        position: relative;
        padding-left: 40px;
        font-weight: 500;
        display: block;
        width: 100%;
        border-left: 3px solid transparent;
    }
    .nav-resp>ul>li.active>a {
        background: #fff;
        color: #234187;
        border-left-color: #234187;
    }
    .nav-resp ul ul {
        position: static;
        display: none;
        transition: .4s ease;
    }
    .nav-resp ul .serv-show.show {
        display: block;
    }
    .nav-resp ul .sede-show.show1 {
        display: block;
    }
    .nav-resp ul ul li {
        line-height: 42px;
        border-bottom: none;
    }
    .nav-resp ul ul li a {
        font-size: 17px;
        color: #e6e6e6;
        padding-left: 80px;
    }
    .nav-resp ul li.active ul li a {
        background: #234187;
        color: #fff;
        border-left-color: transparent;
    }
    .nav-resp ul ul li a:hover {
        color: #234187!important;
        background: #fff!important;
        border-left-color: #234187!important;
    }
    .nav-resp ul li a i {
        position: absolute;
        right: 20px;
        top: 50%;
        font-size: 20px;
        transform: translateY(-50%);
        transition: transform .4s;
    }
    .nav-resp ul li a i.rotate {
        transform: translateY(-50%) rotate(-180deg);
    }
}

@media screen and (max-width: 380px) {
    .logo-img {
        width: 13rem;
        height: 90%;
        padding-top: 1rem;
    }
}