.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}


/* PRE-HEADER */

.pre-header {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    padding: 10px 0;
    height: 4rem;
    color: #234187;
    background: #F5F6F8;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    border-top: 5px solid #234187;
    border-bottom: 1px solid #dfe5e8;
}

.p-h-contenedor {
    max-width: 75vw;
    margin: 0 auto;
    min-width: 1100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pre-header a {
    color: #234187;
}

.pre-header ul {
    display: flex;
    flex-direction: row;
}

.pre-header ul li {
    padding-right: 10px;
    font-size: .82rem;
}

.pre-header ul li i {
    font-size: 1.05rem;
    padding-right: 2.5px;
}


/* HEADER, LOGO Y NAVBAR */

.barra {
    width: 100%;
    position: fixed;
    top: 4rem;
    height: 6rem;
    transition: all .3s ease;
    background: #fff;
    margin: 0 auto;
}

.contenedor {
    max-width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1100px;
    height: 100%;
    transition: all .3s ease;
}

.barra.sticky {
    top: 0rem;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}


/* logo */

.barra .burguer {
    display: none;
}

.logo-img {
    width: 18rem;
    height: 100%;
    padding: 10px 0;
}


/* logo y navegacion */

.navegacion {
    display: flex;
}

.navegacion ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: #234187;
    font-size: 1.08rem;
    font-weight: 500;
}

.navegacion ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.navegacion ul>li>a {
    margin: 10px 5px;
    border-radius: 25px;
    padding: 15px 25px;
    color: #234187;
    transition: .3s all ease;
}

.navegacion ul>li>.nav-item:hover {
    background: #234187;
    color: #fff;
}

.navegacion ul>li>.nav-item.here {
    background: #234187;
    color: #fff;
}

.navegacion ul li .active {
    background: #234187;
    color: #fff;
    /* outline: 2px solid #234187; */
}

.navegacion ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 12rem;
    font-size: .8rem;
}

.navegacion ul li:hover ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
    box-sizing: border-box;
}

.navegacion ul li ul li a {
    transition: .5s all ease;
}

.navegacion ul li ul li a:hover {
    background: #234187;
    color: #fff;
}

.navegacion ul li.nav-r {
    display: none;
}


/* Media Query para el logo y el navbar */

@media screen and (max-width: 1115px) {
    .pre-header ul li {
        font-size: .74rem;
    }
    .p-h-contenedor {
        min-width: 800px;
    }
    .barra .contenedor {
        min-width: 800px;
    }
    .barra.sticky {
        top: 0;
        margin: 0 auto;
        background: #fff;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
    .navegacion ul>li>a {
        font-size: .85rem;
        margin: 10px 5px;
        border-radius: 25px;
        padding: 15px 12px;
    }
    .logo-img {
        width: 15rem;
        height: 90%;
        padding: 10px 0;
    }
}

@media screen and (max-width: 860px) {
    /* .pre-header ul:nth-child(1) {
        order: 2;
    }
    .pre-header ul:nth-child(2) {
        order: 1;
    } */
    .barra {
        top: 0;
    }
    .pre-header {
        display: none;
    }
    .logo {
        width: 90vw;
    }
    .logo-img {
        width: 18rem;
    }
    .barra .burguer {
        display: flex;
        position: absolute;
        right: 1rem;
        top: 2rem;
        font-size: 2rem;
        color: #234187;
    }
    .barra .contenedor {
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100vh - 2rem);
    }
    .navegacion {
        width: 98%;
        position: sticky;
        display: none;
        opacity: 0;
        z-index: 2;
    }
    .navegacion ul {
        flex-direction: column;
        background: #234187;
    }
    .navegacion ul li {
        padding: 1.26rem 0;
    }
    .navegacion ul li.active a,
    .navegacion ul li a {
        color: #fff;
    }
    .navegacion ul li.active a:hover,
    .navegacion ul li a:hover {
        padding: 2px 10px;
        transition: .2s;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    .navegacion ul li.active a {
        color: #fff;
        background: transparent;
    }
    .navegacion ul li.nav-r {
        display: initial;
    }
    @keyframes muestraMenu {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .navegacion.activado {
        display: initial;
        animation: muestraMenu 350ms ease-in-out both;
    }
}


/* @media screen and (max-width: 950px) {
    .logo-img {
        max-width: 13rem;
        padding: 10px 0;
    }
} */


/* media query para distintas resoluciones */


/* @media screen and (max-width: 1050px) {
    .pre-header .p-h-contenedor {
        max-width: 700px;
        margin: 0 auto;
    }
    .pre-header {
        font-size: .7rem;
    }
    .pre-header ul li i {
        font-size: .9rem;
        padding-right: 5px;
    }
    .navegacion {
        flex: 0 0 5rem;
    }
    .navegacion ul {
        margin-left: 1rem;
        font-size: .8rem;
    }
    .navegacion ul li {
        padding: 15px 5px;
        margin-left: 10px;
    }
    .pre-header .contenedor {
        max-width: 700px;
        margin: 0 auto;
    }
    .barra .contenedor {
        max-width: 700px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 950px) {
    .navegacion {
        flex: 0 0 11rem;
    }
    .navegacion ul li.nav-r {
        display: none;
    }
}

@media screen and (max-width: 815px) {
    .pre-header .p-h-contenedor {
        max-width: 600px;
        margin: 0 auto;
    }
    .pre-header {
        font-size: .6rem;
    }
} */


/* @media screen and (max-width: 760px) {
    .pre-header {
        font-size: .7rem;
        height: 2.8rem;
    }
    .pre-header ul {
        justify-content: center;
    }
    .pre-header ul li {
        padding-right: 5px;
    }
    .pre-header ul li i {
        font-size: .8rem;
    }
    .contenedor {
        width: 100%;
    }
    .barra .contenedor {
        flex-direction: column;
        justify-content: flex-start;
        height: calc(100vh - 2rem);
        margin-top: .5rem;
    }
    .header-contenido {
        z-index: 1;
    }
    .navegacion {
        width: 100%;
        position: sticky;
        display: none;
        opacity: 0;
        z-index: 10;
    }
    .navegacion ul {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        top: -7.1rem;
        right: 0;
        left: 0;
        margin: 0 auto;
        background: #004b95;
        height: calc(100vh - 2rem);
    }
    .navegacion ul li {
        padding: 1rem 0;
    }
    .navegacion ul li.active a,
    .navegacion ul li a {
        font-size: 1.5rem;
        color: #fff;
        background: transparent;
    }
    .navegacion ul li a:hover {
        padding: 10px 30px;
        transition: .2s;
        border: 1px solid #fff;
        border-radius: 5px;
    }
    .navegacion ul li.active a:hover {
        color: #212C7C;
        background: #fff;
        border: 1px solid #212C7C;
    }
    .navegacion ul li.nav-r {
        display: initial;
    }
} */