.section-1 {
    position: relative;
    /* top: 103px; */
}

.menu2__container {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    align-items: center;
    flex-direction: row;
    margin: .65% auto;
    background-color: #234187;
}

.menu-btn a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #234187;
    height: 15.625rem;
    width: 24rem;
    position: relative;
}

.menu-btn:hover {
    transform: translateY(-10px);
    transition: .1s;
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.icon {
    color: #fff;
    font-size: 6.25rem;
}

.icon-description {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    margin-top: 10px;
}