.section-2 {
    position: relative;
    /* top: 103px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: default;
}


/* caja de arriba: BIENVENIDO */

.nosotros__container-up {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: center;
}

.nosotros__container-up .naturaleza {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
    /* position: relative; */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
.nosotros__container-up .naturaleza h2 {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 5rem;
    color: #234187;
}

.nosotros__container-up .naturaleza span {
    font-size: 5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.nosotros__container-up .naturaleza p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    text-align: center;
    margin-top: 3rem;
}

.nosotros__container-up .naturaleza h2 {
    margin-top: 2%;
}

.nosotros__container-up .naturaleza p {
    width: 75%;
    margin-bottom: 2%;
}

.nosotros__container-up .naturaleza b:hover {
    color: #234187;
    transition: 1s;
}


/* caja de abajo: MISION Y VISION */

.nosotros__container-down {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    position: relative;
}


/* IMAGENES */


/* contenedor de las imagenes */

.nosotros__container-down .down-img {
    display: flex;
    flex-direction: row;
    height: 22.5rem;
    z-index: 1;
}


/* divison de la fila al 50% */

.nosotros__container-down .down-img .nosotros__mision-img,
.nosotros__container-down .down-img .nosotros__vision-img {
    width: 50%;
}


/* propiedades de imagen/ */

.nosotros__container-down .down-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ancho del texto */

.nosotros__container-down .nosotros__mision p,
.nosotros__container-down .nosotros__vision p {
    width: 75%;
}


/* CONTENEDOR MISION Y VISION */

.nosotros__container-down .down-txt {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.down-txt .nosotros__mision-txt,
.down-txt .nosotros__vision-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.down-txt h3,
.down-txt p {
    color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
.down-txt h3 {
    margin-bottom: 2%;
    font-size: 3.8rem;
    font-family: 'Roboto', sans-serif;
    /* color: #6c351c; */
    /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.down-txt p {
    margin-top: 2%;
    font-size: 1.1rem;
    width: 75%;
    font-family: 'Roboto', sans-serif;
    /* color: #6c351c; */
    font-weight: 750;
    /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
}