.nosotros-container {
    max-width: 1100px;
    margin: 0 auto;
}

.nosotros-p {
    max-width: 500px;
    margin: 0 auto;
}

@media screen and (min-width: 800px) {
    .nosotros-p {
        max-width: 1100px;
        margin: 0 auto;
    }
}

.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6rem 0;
}

.nosotros-h2 h2 {
    font-size: 4rem;
    color: #234187;
    font-weight: 775;
}

.nosotros-h2,
.nosotros-p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.nosotros-p {
    margin-top: 2rem;
}

.nosotros-p p {
    font-size: 1.3rem;
    font-style: italic;
}

.nosotros-p b {
    font-weight: 1000;
    font-style: normal;
}

.nosotros-btn {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.nosotros-btn span {
    padding: 10px 30px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;
    width: calc(20vw + 6px);
    height: calc(8vw + 6px);
    background-image: linear-gradient(90deg, #00C0FF 0, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 3vw;
    font-weight: 700
}

.nosotros-btn span:after {
    content: attr(alt);
    width: 20vw;
    height: 8vw;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center
}

.nosotros-btn span:hover {
    animation: slidebg 2s linear infinite
}