.sedes-container {
    width: 100vw;
}

.sedes {
    height: 80.5vh;
    margin-top: 7rem;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.sedesTop {
    height: 60%;
    display: flex;
    flex-direction: row;
}

.sedesTop .sedes-img {
    width: 30%;
    background-image: url("../img/sedes/sede1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.sedesTop .sedes-map {
    width: 70%;
}

.sedesTop .sedes-map iframe {
    width: 100%;
    height: 100%;
}

.sedesBot {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    background: #fff;
    color: #234187;
}

.sede-tlf,
.sede-correo,
.sede-dir {
    margin: auto 0;
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.sedesBot h3 {
    margin: 2.6rem 0 1rem;
    font-size: 2rem;
}

.sedesBot p i {
    padding-right: .5rem;
}

@media screen and (max-width: 950px) {
    .sedes {
        display: flex;
    }
    .sedesTop {
        order: -1;
    }
    .sedesTop .sedes-img {
        display: none;
    }
    .sedesTop .sedes-map {
        width: 100%;
    }
    .sedesTop .sedes-map iframe {
        width: 100%;
        height: 100%;
    }
    .sedesBot {
        order: 1;
    }
}