* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__container {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    position: relative;
    left: 25px;
}

.header__nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 650px;
    height: 103px;
    line-height: 90px;
}

.header__nav ul li {
    list-style: none;
}

.header__nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: blue;
    font-size: 20px;
}

.header__nav ul li a:hover {
    background-color: blue;
    color: #fff;
}


/*slider de imagenes */