@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root {
    --login-bg: #f7e6dc;
    --title-bg: #e2b194;
    --button-bg: #E36D19;
    --light-pink: #e88530;
}

body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: url("../img/17010.jpg");
    background-size: cover;
    /*=========*/
    background-position: center center;
    background-attachment: fixed;
}

.login-container {
    height: 40em;
    width: 45em;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.login-info-container {
    margin-top: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 0.5rem;
    /*background-color: #e2b19446;*/
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.image-container {
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    width: 50%;
    background-image: url("../img/LOGO_color_HM02.png");
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    background-repeat: no-repeat;
    margin-top: 40%;
    background-size: contain;
    box-sizing: border-box;
}

.inputs-container p {
    margin: 0;
    font-size: .8rem;
}

.title {
    text-transform: capitalize;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #E36D19;
    text-shadow: #fff 0.1em 0.1em 0.2em;
    ;
}

.social-login {
    width: 100%;
    display: flex;
    margin-top: 30%;
    justify-content: space-evenly;
    border-bottom: 3px solid rgba(0, 0, 0, 0.616);
    cursor: pointer;
    margin-bottom: 5px;
    padding-bottom: 15px;
}

.social-login-element {
    width: 12.5rem;
    height: 3.75rem;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1.5px;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #2727274b;
    /*border: 1px solid var(--button-bg);*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-login-element img {
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    top: 0;
    left: -0.625rem;
}

.social-login-element:hover {
    background-color: #fff;
}

.login-info-container>p {
    font-size: 1.25em;
    margin-top: 1.5em;
}

.inputs-container {
    height: 55%;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inputs-container span {
    font-weight: bolder;
    font-size: .9rem;
}

.input,
.btn {
    width: 90%;
    height: 3.125rem;
    font-size: 1em;
    box-shadow: none;
    background-color: #5858588a;
}

.input {
    padding-left: 20px;
    border: none;
    background-color: #0f0f0f9d;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    letter-spacing: 1px;
    box-sizing: border-box;
    outline: none;
}

.input:hover {
    border: 2px solid var(--button-bg);
}

.btn {
    width: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-bg);
    cursor: pointer;
}

.inputs-container p {
    margin: 0;
    color: black;
    font-weight: bolder;
}

.span {
    color: #c75300;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .login-container {
        width: 70%;
        margin-top: 3rem;
    }
    .login-info-container {
        width: 100%;
        border-radius: 5px;
        margin-top: 0;
        padding-top: 0;
    }
    .image-container {
        display: none;
    }
    .input {
        padding-bottom: 20px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 650px) {
    .login-container {
        width: 90%;
        margin-top: none;
        padding: none;
    }
    .login-info-container {
        margin-top: 0;
        padding-top: 0;
    }
    .image-container {
        display: none;
    }
    .social-login {
        border-bottom: none;
    }
}

@media screen and (max-width: 500px) {
    .login-container {
        height: 90%;
    }
    .social-login {
        flex-direction: column;
        align-items: center;
        height: 30%;
    }
    .login-info-container>p {
        margin: 0;
    }
    .image-container {
        display: none;
    }
    .input {
        margin-bottom: 10px;
    }
}