* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}