<nav class="pre-header">
    <div class="p-h-contenedor">
        <ul>
            <li><i class="fas fa-map-marker-alt"></i><a href="#contacto">Contáctanos</a></li>
            <li><i class="far fa-envelope"></i>admision.trujillo@horizontemedic.com</li>
            <li><a class="intranet" href="../views/loginAdmin.html"><i class="fas fa-desktop"></i>Intranet</a></li>
        </ul>
        <ul>
            <li><i class="fas fa-phone"></i>044 767608</li>
            <li><i class="fab fa-whatsapp"></i>969603777 - 990094744</li>
        </ul>
    </div>
</nav>
<div id="barra" class="barra">
    <div class="contenedor">
        <div class="logo">
            <div class="logo-container">
                <a href="../index.html"><img class="logo-img" src="../img/LOGO_color_HM.png" alt=""></a>
                <div class="burguer">
                    <span class="br-1"></span>
                    <span class="br-2"></span>
                    <span class="br-3"></span>
                </div>
            </div>
        </div>
        <nav class="navegacion">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#contacto">Contactanos</a></li>
                <li class="nav-sedes">
                    <a href="../views/sedes.html">Sedes</a>
                    <!-- <ul class="nav-sedes-ul">
                        <li>Trujillo</li>
                        <li>Huamachuco</li>
                        <li>Huancayo</li>
                    </ul> -->
                </li>
                <li class="active"><a href="../views/loginUser.html">Ingresar</a></li>
                <li class="nav-r"><a href="">Especialidades</a></li>
                <li class="nav-r"><a href="">Comentarios</a></li>
            </ul>
        </nav>
    </div>
</div>
<script>
    const burguer = document.querySelector('.burguer');
    let navegacion = document.querySelector('.navegacion');
    const barras = document.querySelectorAll('.burguer span');

    burguer.addEventListener('click', () => {
        navegacion.classList.toggle('activado');
        barras.forEach(child => {
            child.classList.toggle('animado')
        });
    })
</script>