<nav class="pre-header">
    <div class="contenedor">
        <ul>
            <li><i class="fas fa-map-marker-alt"></i><a href="#contacto">Contáctanos</a></li>
            <li><i class="fas fa-phone"></i>944333222</li>
            <li><i class="far fa-envelope"></i>hm@gmail.com</li>
            <li><a class="intranet" href="../views/loginAdmin.html">Intranet</a></li>
        </ul>
    </div>
</nav>
<div id="barra" class="barra">
    <div class="contenedor">
        <div class="logo">
            <div class="logo-container">
                <a href="#"><img class="logo-img" src="../img/LOGO_color_HM.png" alt=""></a>
                <div class="burguer">
                    <span class="br-1"></span>
                    <span class="br-2"></span>
                    <span class="br-3"></span>
                </div>
            </div>
        </div>
        <nav class="navegacion">
            <ul>
                <li><a style="border: 1px solid #234187;" href="#inicio">Home</a></li>
                <li><a href="#nosotros">Nosotros</a></li>
                <li><a href="#servicios">Servicios</a></li>
                <li><a href="#contacto">Contactanos</a></li>
                <li class="active"><a href="../views/loginUser.html">Ingresar</a></li>
                <li class="nav-r"><a href="">Especialidades</a></li>
                <li class="nav-r"><a href="">Sedes</a></li>
                <li class="nav-r"><a href="">Comentarios</a></li>
            </ul>
        </nav>
    </div>
</div>
<script>
    const burguer = document.querySelector('.burguer');
    let navegacion = document.querySelector('.navegacion');
    const barras = document.querySelectorAll('.burguer span');

    burguer.addEventListener('click', () => {
        navegacion.classList.toggle('activado');
        barras.forEach(child => {
            child.classList.toggle('animado')
        });
    })
</script>