<!-- slider -->
<div class="slider-contenedor">
    <div class="slider" id="slider">
        <div class="slider__section">
            <img src="img/slider/doc-trans-responsive.png" alt="" class="slider__img img-responsive">
            <img src="img/slider/Copia_de_seguridad_de_bienvenida-doc-transparencia.png" alt="" class="slider__img img-alfa">
        </div>
        <div class="slider__section">
            <img src="img/sun-in-the-mountains-landscape-vector.jpg" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="img/jarvis.jpg" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="img/blur-hospital.jpg" alt="" class="slider__img">
        </div>
    </div>
    <div class="slider__btn slider__btn-right" id="btn-right">&#62;</div>
    <div class="slider__btn slider__btn-left" id="btn-left">&#60;</div>
</div>
<!-- horario y numero de emergencia -->
<div class="hye">
    <div class="hye-container">
        <div class="caja-horario">
            <div class="h3-horario"><i class="fas fa-clock"></i>HORARIO</div>
            <div class="p-horario">
                <p>Lunes - Sabado <br> 7:00 a.m. - 7:00 p.m.</p>
            </div>
        </div>
        <div class="caja-emergencia">
            <div class="h3-emergencia"><i class="fas fa-hospital-symbol"></i>N. DE EMERGENCIA</div>
            <div class="p-emergencia">
                <p><i class="fas fa-mobile-alt"></i>990094744 <br> <i class="fas fa-phone-volume"></i>(044) 767608</p>
            </div>
        </div>
    </div>
</div>
<!-- nosotros - we-->
<div class="we">
    <div class="we-container">
        <div class="we-info">
            <h2>¿Quienes Somos?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique consequatur officia odit. Quis officia exercitationem amet sit non minus nam ipsam dolor. Perspiciatis nostrum dolor at consectetur, doloribus officiis nisi.</p>
            <button><i class="fas fa-arrow-alt-circle-right"></i>MÁS INFORMACIÓN</button>
        </div>
        <div class="we-img">
            <img src="img/doctors.png" alt="">
        </div>
    </div>
</div>