<ul>
    <li>
        <a href="#contacto">
            <i class="icon fas fa-stethoscope"></i> Especialidades
        </a>
    </li>
    <li>
        <a href="#servicios">
            <i class="icon fas fa-hospital-symbol"></i> Servicios
        </a>
    </li>
    <li>
        <a href="../views/sedes.html">
            <i class="icon fas fa-map-marked-alt"></i> Sedes
        </a>
    </li>
    <li>
        <a href="">
            <i class="icon fas fa-comments"></i> Comentarios
        </a>
    </li>
</ul>