<div class="contenedor">
    <div class="slider" id="slider">
        <div class="slider__section">
            <img src="img/slider/doc-trans-responsive.png" alt="" class="slider__img img-responsive">
            <img src="img/slider/Copia_de_seguridad_de_bienvenida-doc-transparencia.png" alt="" class="slider__img img-alfa">
        </div>
        <div class="slider__section">
            <img src="img/sun-in-the-mountains-landscape-vector.jpg" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="img/vision2.jpg" alt="" class="slider__img">
        </div>
        <div class="slider__section">
            <img src="img/blur-hospital.jpg" alt="" class="slider__img">
        </div>
    </div>
    <div class="slider__btn slider__btn-right" id="btn-right">&#62;</div>
    <div class="slider__btn slider__btn-left" id="btn-left">&#60;</div>
</div>
<script>
    const slider = document.querySelector("#slider");
    let sliderSection = document.querySelectorAll(".slider__section");
    let sliderSectionLast = sliderSection[sliderSection.length - 1];

    const btnLeft = document.querySelector("#btn-left");
    const btnRight = document.querySelector("#btn-right");


    // console.log(sliderSectionLast);
    slider.insertAdjacentElement('afterbegin', sliderSectionLast);

    function next() {
        let sliderSectionFirst = document.querySelectorAll(".slider__section")[0];
        slider.style.marginLeft = "-200%";
        slider.style.transition = "all 0.5s";
        setTimeout(function() {
            slider.style.transition = "none";
            slider.insertAdjacentElement('beforeend', sliderSectionFirst);
            slider.style.marginLeft = "-100%";
        }, 500);
    }

    function prev() {
        let sliderSection = document.querySelectorAll(".slider__section");
        let sliderSectionLast = sliderSection[sliderSection.length - 1];
        slider.style.marginLeft = "0";
        slider.style.transition = "all 0.5s";
        setTimeout(function() {
            slider.style.transition = "none";
            slider.insertAdjacentElement('afterbegin', sliderSectionLast);
            slider.style.marginLeft = "-100%";
        }, 500);
    }

    btnRight.addEventListener('click', function() {
        next();
    })

    btnLeft.addEventListener('click', function() {
        prev();
    })

    setInterval(function() {
        next();
    }, 6000);
</script>