<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizonte Medic</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/sedes.css">
    <link rel="stylesheet" href="../css/contacto.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="../js/jquery-3.6.0.js"></script>
    <script src="https://kit.fontawesome.com/a8c0e9b6c8.js" crossorigin="anonymous"></script>
    <script src="../js/scrollreveal.js"></script>
    <script src="../js/main.js"></script>

</head>

<body>
    <header id="header" class="header"></header>

    <section id="sedes" class="sedes">
        <div class="sedes-container">
            <div class="sedesTop">
                <div class="sedes-img"></div>
                <div class="sedes-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.695549006946!2d-79.03798651643861!3d-8.099509935365901!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91ad3db2204fc5c9%3A0x4576a668ec35df68!2sPOLICLINICO%20HORIZONTE%20MEDIC%20-%20PIEROLA!5e0!3m2!1ses-419!2spe!4v1618589907723!5m2!1ses-419!2spe"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="sedesBot">
                <div class="sede-tlf">
                    <h3>Telefono</h3>
                    <p id="s-m"><i class="fas fa-mobile-alt"></i>999333111</p>
                </div>
                <div class="sede-correo">
                    <h3>Correo</h3>
                    <p id="s-c"><i class="far fa-envelope"></i>hm@gmail.com</p>
                </div>
                <div class="sede-dir">
                    <h3>Direccion</h3>
                    <p id="s-d"><i class="fas fa-map-marker-alt"></i>ABC 123</p>
                </div>
            </div>
        </div>
    </section>

    <section id="contacto" class="contacto"></section>
    <footer id="footer" class="footer"></footer>

    <script>
        window.sr = ScrollReveal();

        sr.reveal('#s-m', {
            duration: 1000,
            origin: 'top',
            distance: '-30px'
        });
        sr.reveal('#s-c', {
            duration: 1000,
            origin: 'top',
            distance: '-30px'
        });
        sr.reveal('#s-d', {
            duration: 1000,
            origin: 'top',
            distance: '-30px'
        });
    </script>
</body>

</html>