<div class="wrapper">
    <div class="wrapper-container">
        <h2 id="n-s-h2">Nuestros Servicios</h2>
        <div class="single-service">
            <a href="">
                <div class="social"><i class="fas fa-tooth"></i></div>
            </a>
            Odontologia
        </div>
        <div class="single-service">
            <a href="">
                <div class="social"><i class="fas fa-low-vision"></i></div>
            </a>
            Psicometria
        </div>
        <div class="single-service">
            <a href="">
                <div class="social"><i class="fas fa-deaf"></i></div>
            </a>
            Audiometria
        </div>
        <div class="single-service">
            <a href="">
                <div class="social"><i class="fas fa-lungs"></i></div>
            </a>
            Espirometria
        </div>
        <div class="single-service">
            <a href="">
                <div class="social"><i class="fas fa-microscope"></i></div>
            </a>
            Laboratorio Clinico
        </div>
        <div class="single-service">
            <a href="">
                <div class="social"><i class="fas fa-x-ray"></i></div>
            </a>
            Rayos X
        </div>
        <div class="single-service">
            <a href="">
                <div class="social"><i class="fas fa-brain"></i></div>
            </a>
            Psicologia
        </div>
        <div class="single-service">
            <a href="">
                <div class="social"><i class="fas fa-eye"></i></div>
            </a>
            Agudeza Visual
        </div>
        <div class="single-service">
            <a href="">
                <div class="social"><i class="fas fa-heartbeat"></i></div>
            </a>
            Electrocardiograma
        </div>
    </div>
</div>
<script>
    window.sr = ScrollReveal();
    sr.reveal('#n-s-h2', {
        duration: 2000,
        origin: 'left',
        distance: '-100px'
    });
</script>