<!-- tarjetas especialidades -->
<section id="especialidades" class="section-2">
    <label class="title-section-2">NUESTRAS ESPECIALIDADES</label>
    <div class="container-section-2">
        <div class="card">
            <img src="img/fond1.jpg" alt="">
            <h4>Tarjeta 1</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. accusantium assumenda, in adipisci?</p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="img/fond6.jpg" alt="">
            <h4>Tarjeta 2</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. accusantium assumenda, in adipisci?</p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="img/fond5.jpg" alt="">
            <h4>Tarjeta 3</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. accusantium assumenda, in adipisci?</p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="img/fond4.jpg" alt="">
            <h4>Tarjeta 3</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. accusantium assumenda, in adipisci?</p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="img/fond3.jpg" alt="">
            <h4>Tarjeta 3</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. accusantium assumenda, in adipisci?</p>
            <a href="#">Leer mas</a>
        </div>
        <div class="card">
            <img src="img/fond2.jpg" alt="">
            <h4>Tarjeta 3</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. accusantium assumenda, in adipisci?</p>
            <a href="#">Leer mas</a>
        </div>
    </div>
</section>