<div class="covid-info-img" style="background: url(../img/covid/molecular.jpg); background-repeat: no-repeat; background-position: center; background-size: cover">

</div>
<div class="covid-info-txt">
    <h3>PRUEBA MOLECULAR</h3>
    <div class="covid-info-txt-container">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat ab deserunt voluptatum dolores optio! Corporis vel, enim iste repellendus ratione tenetur quia deserunt molestias. Vel velit sapiente ea hic inventore.</p>
    </div>
</div>